@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(rgb(125, 207, 221), rgb(55, 104, 145));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Outfit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
